/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//color: rgba(black, 0.4);
	//min-height: 150px;
	line-height: 170%;
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
	&:before{
		font-size: 150px;
		position: absolute;
		top: 0 ;
	}
}
.footer-content{
	.ls-icon-placeholder{
		&:before{
			font-size: 350px;
    	position: absolute;
    	top: 0;
    	color: rgba(white, 0.05);
    	line-height: 100%;
		}
	}
	@media (max-width: 991px) {
		.container{
			padding-bottom: 0;
		}
		.align-center{
			flex-direction: column;
		}
	}
}
.footer-contacts{
	[class*="ls-icon-"]{
		color: $color-1;
	}
	@media (max-width: 991px) {
		.flex.align-i-center{
    	flex-direction: column;
		}
		.header-phone-icon{
			margin-bottom: 15px;
		}
	}
}




.copy-content{
	background-color: $color-gray-3;
	@media (max-width: 991px) {
		margin-top: 15px;
	}
}
.dev{
	font-size: 0.9em;
}

